<%- include('layouts/header') %> 
<!-- navbar default -->
<nav class="flex justify-between px-5 py-5 dark:bg-gray-700" hidden>
    <div class="">
        <img src="/img/logo-Djantur.png" alt="logo-djawir" class="w-11 rounded-full">
    </div>
    <div class="flex respon" id="kotak">
        <ul class="flex gap-7 nonActive" id="respon">
            <a href="/"><li class="cursor-pointer -mr-2 mt-2">HOME</li></a>
            <li class="dropdown cursor-pointer mr-2 flex justify-center mt-2">
                <span>ABOUT</span>
                <div class="option py-2 rounded">
                    <a href="#about"><div class="px-2 py-2">GAME</div></a>
                    <a href="/developer"><div class="px-2 py-2">DEVELOPER</div></a>
                    <div class="px-2 py-2">SARAN</div>
                </div>
            </li>
            <li class="cursor-pointer mt-2">DOWNLOAD</li>
        </ul>
    </div>
</nav>
<!-- akhir navbar default -->
<div class="flex flex-wrap justify-evenly">
    <div class="flex justify-center card">
        <div class="rounded-lg shadow-lg bg-white max-w-sm">
          <a href="">
            <img class="rounded-t-lg" src="/img/logo-Djantur.png" alt=""/>
          </a>
          <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">Alfat T N</h5>
            <p class="text-gray-700 text-base mb-4">Alfat</p>
            <a href="https://instagram.com/alfattaufikn" target="_blank"><button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Instagram</button></a>
          </div>
        </div>
    </div>
    <div class="flex justify-center card">
        <div class="rounded-lg shadow-lg bg-white max-w-sm">
          <a href="">
            <img class="rounded-t-lg" src="/img/logo-Djantur.png" alt=""/>
          </a>
          <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">Gabriel N H</h5>
            <p class="text-gray-700 text-base mb-4">Gabjes</p>
            <a href="https://instagram.com/gab_nh27" target="_blank"><button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Instagram</button></a>
          </div>
        </div>
    </div>
    <div class="flex justify-center card">
        <div class="rounded-lg shadow-lg bg-white max-w-sm">
          <a href="">
            <img class="rounded-t-lg" src="/img/logo-Djantur.png" alt=""/>
          </a>
          <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">Ikhsandi S</h5>
            <p class="text-gray-700 text-base mb-4">San</p>
            <a href="https://instagram.com/ikhsandi_1110" target="_blank"><button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Instagram</button></a>
          </div>
        </div>
    </div>
    <div class="flex justify-center card">
        <div class="rounded-lg shadow-lg bg-white max-w-sm">
          <a href="">
            <img class="rounded-t-lg" src="/img/logo-Djantur.png" alt=""/>
          </a>
          <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">M Farrel A</h5>
            <p class="text-gray-700 text-base mb-4">S F</p>
            <a href="https://instagram.com/farrelll_ar" target="_blank"><button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Instagram</button></a>
          </div>
        </div>
    </div>
    <div class="flex justify-center card">
        <div class="rounded-lg shadow-lg bg-white max-w-sm">
          <a href="">
            <img class="rounded-t-lg" src="/img/logo-Djantur.png" alt=""/>
          </a>
          <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">Rubben M S</h5>
            <p class="text-gray-700 text-base mb-4">Ben</p>
            <a href="https://instagram.com/rubbnms" target="_blank"><button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Instagram</button></a>
          </div>
        </div>
    </div>
    <div class="flex justify-center card">
        <div class="rounded-lg shadow-lg bg-white max-w-sm">
          <a href="">
            <img class="rounded-t-lg" src="/img/logo-Djantur.png" alt=""/>
          </a>
          <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">Shobiburrahmat al fahruz zabad</h5>
            <p class="text-gray-700 text-base mb-4">Shobib</p>
            <a href="https://instagram.com/manusia_limited" target="_blank"><button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Instagram</button></a>
          </div>
        </div>
    </div>
</div>

<!-- script -->
<script src="js/iscript.js"></script>
<!-- akhir script -->
<%- include('layouts/footer') %> 